<!--<p>advertisement-form-component works!</p> -->
<h1>ADMIN_FORM</h1>
<!-- <h1>Admin - Form </h1>
<br><br>

<form [formGroup]="adminForm" (ngSubmit)="submitAdminForm()">

    <div class="container">

        <div class="form-group">
            <input type="text" formControlName="adminName" placeholder="please enter the name here"
                class="form-control" />
        </div>
        <div *ngIf="adminForm.controls['adminName'].hasError('required')" class="alert alert-danger">
            Please add your name
        </div>

        <div class="form-group">
            <input type="password" formControlName="adminPass" placeholder="please enter the pasword here"
                class="form-control" />
        </div>
        <div *ngIf="adminForm.controls['adminPass'].hasError('required')" class="alert alert-danger">
            Please fill the password column
        </div>

        <div class="form-group">
            <input type="email" formControlName="adminMail" placeholder="please enter the mail_id here"
                class="form-control" />
        </div>
        <div *ngIf="adminForm.controls['adminMail'].hasError('required')" class="alert alert-danger">
            Please fill the email column
        </div>

        <div class="form-group">
            <input type="number" min="10" max="10" formControlName="adminPhone"
                placeholder="please enter the phone number here" class="form-control" />
        </div>
        <div *ngIf="adminForm.controls['adminPhone'].hasError('required')" class="alert alert-danger">
            Please fill the phone number column
        </div>






        <br />
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
        <br />
    </div>

</form> -->

<!-- <table class="table table-striped table-hover">
    <thead>

        <tr>

            <th scope="col">Name</th>
            <th scope="col">E-Mail</th>
            <th scope="col">Mobile</th>
            <th scope="col">EDIT</th>
            <th scope="col">DELETE</th>



        </tr>
    </thead>

    <tbody>
        <tr *ngFor="let detail of forms">
            <td>{{detail.adminName}}</td>
            <td>{{detail.adminMail}}</td>
            <td>{{detail.adminPhone}}</td>
            <td><button type="button" class="btn btn-success bg-danger">Delete</button></td>
        </tr>

    </tbody>
</table> -->